#page-body {
    width: 1000px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
}

h1,
p {
    font-family: cursive;
}

#gameCanvas {
    margin: auto;
    border: 2px solid black;
}